apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- cluster/roles.yaml
- cluster/runtimeclass.yaml
- cluster/namespace.yaml
{% if cloud_provider == "alibaba-cloud" %}
- cloud-provider/alibaba-cloud/cloud-controller-manager.yaml
{% endif %}
