*-dev.*
ansible/roles/binary/files/

temp/
ansible/hosts.ini
ansible/group_vars/all.yaml
ansible/group_vars/control.yaml

ansible/roles/binary/files/kubernetes-old/
ansible/roles/binary/files/kubernetes-v1/
ansible/roles/binary/files/kubernetes.tar.gz
ansible/roles/binary/files/kubernetes/LICENSES/
ansible/roles/binary/files/kubernetes/README.md
ansible/roles/binary/files/kubernetes/client/README
ansible/roles/binary/files/kubernetes/client/bin/kubectl-convert
ansible/roles/binary/files/kubernetes/client/kubernetes-client-linux-amd64.tar.gz
ansible/roles/binary/files/kubernetes/cluster/
ansible/roles/binary/files/kubernetes/docs/
ansible/roles/binary/files/kubernetes/hack/
ansible/roles/binary/files/kubernetes/kubernetes-src.tar.gz
ansible/roles/binary/files/kubernetes/platforms/
ansible/roles/binary/files/kubernetes/server/README
ansible/roles/binary/files/kubernetes/server/bin/kube-aggregator
ansible/roles/binary/files/kubernetes/server/bin/kube-apiserver.docker_tag
ansible/roles/binary/files/kubernetes/server/bin/kube-apiserver.tar
ansible/roles/binary/files/kubernetes/server/bin/kube-controller-manager.docker_tag
ansible/roles/binary/files/kubernetes/server/bin/kube-controller-manager.tar
ansible/roles/binary/files/kubernetes/server/bin/kube-proxy.docker_tag
ansible/roles/binary/files/kubernetes/server/bin/kube-proxy.tar
ansible/roles/binary/files/kubernetes/server/bin/kube-scheduler.docker_tag
ansible/roles/binary/files/kubernetes/server/bin/kube-scheduler.tar
ansible/roles/binary/files/kubernetes/server/bin/kubectl
ansible/roles/binary/files/kubernetes/server/bin/kubectl-convert
ansible/roles/binary/files/kubernetes/server/kubernetes-manifests.tar.gz
ansible/roles/binary/files/kubernetes/server/kubernetes-server-linux-amd64.tar.gz
ansible/roles/binary/files/kubernetes/test/
