apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/part-of: dcim

resources:
- psp.yaml
- rbac.yaml
- coredns.yaml
- calico.yaml
- calico-crd.yaml
- metrics-server.yaml
