# {{ product_docs }}

KUBE_FLAG_GENERIC="\
  --allocate-node-cidrs=true \
  --cidr-allocator-type=RangeAllocator \
  --cluster-cidr={{ cluster_cidr }} \
  --cluster-name={{ cluster_name }} \
  --controller-start-interval=1s \
  --controllers={{ kube_enable_controllers }} \
  --kube-api-burst=100 \
  --kube-api-qps=100 \
{% if (groups['control'] | length) > 1 %}
  --leader-elect=true \
  --leader-elect-lease-duration=60s \
  --leader-elect-renew-deadline=30s \
  --leader-elect-resource-lock=endpointsleases \
  --leader-elect-resource-name=kube-controller-manager \
  --leader-elect-resource-namespace=kube-system \
  --leader-elect-retry-period=10s \
{% else %}
  --leader-elect=false \
{% endif %}
  --min-resync-period=12h0m0s \
  --node-monitor-period=5s \
  --use-service-account-credentials=true"

KUBE_FLAG_SECURE_SERVING="\
  --address=127.0.0.1 \
  --port=10252 \
  --secure-port=0 \
  --authentication-kubeconfig={{ etc_dir }}/controller-manager.conf \
  --authentication-skip-lookup=false \
  --client-ca-file={{ etc_dir }}/pki/ca.crt \
  --requestheader-allowed-names=front-proxy-client \
  --requestheader-client-ca-file={{ etc_dir }}/pki/front-proxy-ca.crt \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --authorization-kubeconfig={{ etc_dir }}/controller-manager.conf \
  --kubeconfig={{ etc_dir }}/controller-manager.conf"

KUBE_FLAG_CONTROLLERS="\
  --cluster-signing-cert-file={{ etc_dir }}/pki/ca.crt \
  --cluster-signing-key-file={{ etc_dir }}/pki/ca.key \
  --experimental-cluster-signing-duration=43800h0m0s \
  --concurrent-deployment-syncs=5 \
  --deployment-controller-sync-period=30s \
  --concurrent-endpoint-syncs=5 \
  --concurrent-gc-syncs=20 \
  --enable-garbage-collector=true \
  --horizontal-pod-autoscaler-sync-period=30s \
  --horizontal-pod-autoscaler-tolerance=0.1 \
  --horizontal-pod-autoscaler-downscale-stabilization=5m \
  --horizontal-pod-autoscaler-cpu-initialization-period=5m \
  --horizontal-pod-autoscaler-initial-readiness-delay=30s \
  --concurrent-namespace-syncs=10 \
  --namespace-sync-period=5m0s \
  --node-cidr-mask-size={{ node_cidr_mask }} \
  --service-cluster-ip-range={{ service_cluster_ip_range }} \
  --node-eviction-rate=0.1 \
  --node-monitor-grace-period=40s \
  --node-startup-grace-period=1m0s \
  --pod-eviction-timeout=5m0s \
  --resource-quota-sync-period=5m0s \
  --root-ca-file={{ etc_dir }}/pki/ca.crt \
  --service-account-private-key-file={{ etc_dir }}/pki/sa.key"

KUBE_FLAG_GLOBAL="\
  --alsologtostderr=true \
  --log-dir={{ log_dir }} \
  --log-file={{ log_dir }}/kube-controller-manager.log \
  --log-file-max-size=2048 \
  --log-flush-frequency=5s \
  --logtostderr=false \
  --v=0"
