[Unit]
Description=Kubernetes Controller Manager
Documentation={{ product_docs }}
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
EnvironmentFile={{ install_dir }}/kube-controller-manager/environment
ExecStart={{ install_dir }}/kube-controller-manager/kube-controller-manager \
        $KUBE_FLAG_GENERIC \
        $KUBE_FLAG_SECURE_SERVING \
        $KUBE_FLAG_CONTROLLERS \
        $KUBE_FLAG_GLOBAL
Type=simple
RestartSec=10
Restart=always
LimitNOFILE=65536
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
