apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  app.kubernetes.io/part-of: cilium
  app.kubernetes.io/managed-by: kustomize

configMapGenerator:
- name: hubble-relay-config
  namespace: kube-system
  files:
  - config.yaml=config/configmap/hubble-relay-config.yaml
  options:
    disableNameSuffixHash: true
- name: hubble-ui-nginx
  namespace: kube-system
  files:
  - nginx.conf=config/configmap/hubble-ui-nginx.config
  options:
    disableNameSuffixHash: true
- name: cilium-envoy-config
  namespace: kube-system
  files:
  - bootstrap-config.json=config/configmap/bootstrap-config.json
  options:
    disableNameSuffixHash: true

resources:
- cluster/roles.yaml
- cluster/namespace.yaml
- config/configmap/cilium-config.yaml
- service/services.yaml
- service/ingresses.yaml
- workloads/daemonset.yaml
- workloads/deployment.yaml
