---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: admission-webhook
  name: default-ingress-nginx-controller-admission
spec:
  type: ClusterIP
  ports:
  - name: https-webhook
    port: 443
    targetPort: webhook
    appProtocol: https
  selector:
    app.kubernetes.io/component: admission-webhook

#---
#apiVersion: v1
#kind: Service
#metadata:
#  labels:
#    app.kubernetes.io/component: controller
#  name: default-ingress-nginx-controller
#spec:
#  ports:
#  - name: http
#    port: 80
#    protocol: TCP
#    targetPort: http
#    appProtocol: http
#  selector:
#    app.kubernetes.io/component: controller
