apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
data:
  instanceID: default

  sso: |
    issuer: http://{{ cluster_role.control.oauth2_domain }}/oauth2
    sessionExpiry: 240h
    clientId:
      name: oauth2-client
      key: client-id
    clientSecret:
      name: oauth2-client
      key: client-secret
    redirectUrl: http://{{ cluster_role.control.workflow_domain }}/oauth2/callback
    scopes:
    - groups
    - email
    - profile
    rbac:
      enabled: true

  mainContainer: |
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 0.1
        memory: 64Mi
      limits:
        cpu: 0.5
        memory: 512Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000

  executor: |
    image: {{ internal_images.namespace }}/argoexec:v3.5.7
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 0.1
        memory: 64Mi
      limits:
        cpu: 0.5
        memory: 512Mi
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 1000

  workflowDefaults: |
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

