---
apiVersion: node.k8s.io/v1beta1
kind: RuntimeClass
metadata:
  name: runc
handler: runc

{% if kata_containers_enabled %}
---
apiVersion: node.k8s.io/v1beta1
kind: RuntimeClass
metadata:
  name: kata
handler: kata
{% endif %}
