apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  url: http://{{ cluster_role.control.gitops_domain }}

  exec.enabled: "true"

  oidc.config: |
    name: OPSaid
    issuer: http://{{ cluster_role.control.oauth2_domain }}/oauth2
    clientID: argo
    clientSecret: {{ tls_bootstrap_token }}
    requestedScopes: ["openid", "profile", "email", "groups"]
    logoutURL: http://{{ cluster_role.control.gitops_domain }}

  resource.customizations: |
    networking.k8s.io/Ingress:
      health.lua: |
        hs = {}
        hs.status = "Healthy"
        return hs
