apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

commonLabels:
  app.kubernetes.io/managed-by: kustomize

configMapGenerator:
- name: calico-config
  literals:
  - typha_service_name="none"
  - calico_backend="bird"
  - veth_mtu="1500"
  files:
  - rc.local=config/configmap/rc.local
  - cni_network_config=config/configmap/cni_network_config
  options:
    disableNameSuffixHash: true

resources:
- crds/crds.yaml
- cluster/roles.yaml
- workloads/deployment.yaml
- workloads/daemonset.yaml

images:
- name: {{ internal_images.namespace }}/calico-cni
  newTag: {{ internal_images.system.calico_cni }}
- name: {{ internal_images.namespace }}/calico-node
  newTag: {{ internal_images.system.calico_node }}
- name: {{ internal_images.namespace }}/calico-kube-controllers
  newTag: {{ internal_images.system.calico_kube_controllers }}
