[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[ dn ]
C = CN
O = system:nodes
CN = system:node:{{ hostvars[item.item]['ip'] }}

[ v3_ext ]
authorityKeyIdentifier=keyid
basicConstraints=CA:FALSE
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=clientAuth
