apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/name: kube-proxy

configMapGenerator:
- name: kube-proxy
  files:
  - config.conf=config/configmap/config.conf
  - kubeconfig.conf=config/configmap/kubeconfig.conf
  options:
    disableNameSuffixHash: true

resources:
- cluster/roles.yaml
- workloads/daemonset.yaml

images:
- name: {{ internal_images.namespace }}/kube-proxy
  newTag: {{ internal_images.system.kube_proxy }}-{{ server_arch }}
