apiVersion: kubescheduler.config.k8s.io/v1alpha2
kind: KubeSchedulerConfiguration
leaderElection:
{% if (groups['control'] | length) > 1 %}
  leaderElect: true
  leaseDuration: 60s
  renewDeadline: 30s
  resourceLock: endpointsleases
  resourceName: kube-scheduler
  resourceNamespace: kube-system
  retryPeriod: 10s
{% else %}
  leaderElect: true
{% endif %}
clientConnection:
  kubeconfig: "{{ etc_dir }}/scheduler.conf"
  acceptContentTypes: ""
  contentType: application/vnd.kubernetes.protobuf
  qps: 50
  burst: 100
healthzBindAddress: 127.0.0.1:10251
metricsBindAddress: 127.0.0.1:10251
enableProfiling: true
enableContentionProfiling: true
disablePreemption: false
percentageOfNodesToScore: 0
bindTimeoutSeconds: 600
podInitialBackoffSeconds: 1
podMaxBackoffSeconds: 10
profiles:
- schedulerName: default-scheduler
extenders: null
