# {{ product_docs }}

KUBE_FLAG_MISC="\
  --config={{ install_dir }}/kube-scheduler/config.yaml"

KUBE_FLAG_SECURE_SERVING="\
  --secure-port=0 \
  --authentication-kubeconfig={{ etc_dir }}/scheduler.conf \
  --authorization-kubeconfig={{ etc_dir }}/scheduler.conf"

KUBE_FLAG_GLOBAL="\
  --alsologtostderr=true \
  --log-dir={{ log_dir }} \
  --log-file={{ log_dir }}/kube-scheduler.log \
  --log-file-max-size=2048 \
  --log-flush-frequency=5s \
  --logtostderr=false \
  --v=0"
