[Unit]
Description=Kubernetes Scheduler Plugin
Documentation={{ product_docs }}
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
EnvironmentFile={{ install_dir }}/kube-scheduler/environment
ExecStart={{ install_dir }}/kube-scheduler/kube-scheduler \
            $KUBE_FLAG_MISC \
            $KUBE_FLAG_SECURE_SERVING \
            $KUBE_FLAG_GLOBAL
Type=simple
RestartSec=10
Restart=always
LimitNOFILE=65536
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
