kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
staticPodPath: {{ etc_dir }}/manifests
address: {{ hostvars[inventory_hostname]['ip'] }}
port: 10250
readOnlyPort: 0
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
    cacheTTL: 2m0s
  x509:
    clientCAFile: {{ etc_dir }}/pki/ca.crt
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s
healthzPort: 10248
healthzBindAddress: 127.0.0.1
oomScoreAdj: -999
clusterDomain: {{ cluster_domain }}
clusterDNS:
  - {{ cluster_dns }}
streamingConnectionIdleTimeout: 4h
nodeStatusUpdateFrequency: 10s
nodeStatusReportFrequency: 5m
nodeLeaseDurationSeconds: 40
imageMinimumGCAge: 2m
imageGCHighThresholdPercent: 85
imageGCLowThresholdPercent: 80
kubeletCgroups: /systemd/system.slice
cgroupDriver: systemd
hairpinMode: promiscuous-bridge
maxPods: {{ node_max_pods }}
serializeImagePulls: true
failSwapOn: {{ disable_swap | to_json }}
containerLogMaxSize: 100Mi
containerLogMaxFiles: 5
systemReserved: 
  cpu: {{ resource_reserve.system.cpu }}
  memory: {{ resource_reserve.system.memory }}
kubeReserved: 
  cpu: {{ resource_reserve.kube.cpu }}
  memory: {{ resource_reserve.kube.memory }}
protectKernelDefaults: false
makeIPTablesUtilChains: true
rotateCertificates: true
tlsCipherSuites: [ "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305", "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384", "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305", "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384", "TLS_RSA_WITH_AES_256_GCM_SHA384", "TLS_RSA_WITH_AES_128_GCM_SHA256" ]
tlsMinVersion: VersionTLS12
eventRecordQPS: 0
evictionHard:
  imagefs.available: "15%"
  memory.available: "300Mi"
  nodefs.available: "10%"
  nodefs.inodesFree: "5%"
