kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
staticPodPath: {{ etc_dir }}/manifests
address: {{ ansible_host }}
port: 10250
readOnlyPort: 10255
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
    cacheTTL: 2m0s
  x509:
    clientCAFile: {{ etc_dir }}/pki/ca.crt
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s
healthzPort: 10248
healthzBindAddress: {{ ansible_host }}
oomScoreAdj: -999
clusterDomain: {{ cluster_domain }}
clusterDNS:
  - {{ cluster_dns }}
nodeStatusUpdateFrequency: 10s
nodeStatusReportFrequency: 5m
nodeLeaseDurationSeconds: 40
imageMinimumGCAge: 2m
imageGCHighThresholdPercent: 85
imageGCLowThresholdPercent: 80
kubeletCgroups: /systemd/system.slice
cgroupDriver: systemd
hairpinMode: promiscuous-bridge
maxPods: {{ node_max_pods }}
serializeImagePulls: true
failSwapOn: {{ disable_swap | to_json }}
containerLogMaxSize: 100Mi
containerLogMaxFiles: 5
systemReserved: 
  cpu: {{ resource_reserve.system.cpu }}
  memory: {{ resource_reserve.system.memory }}
kubeReserved: 
  cpu: {{ resource_reserve.kube.cpu }}
  memory: {{ resource_reserve.kube.memory }}
