# {{ product_docs }}

KUBELET_KUBECONFIG_ARGS="\
  --bootstrap-kubeconfig={{ etc_dir }}/bootstrap-kubelet.conf \
  --kubeconfig={{ etc_dir }}/kubelet.conf"

KUBELET_CONFIG_ARGS="--config={{ data_dir }}/kubelet/config.yaml"

KUBELET_EXTRA_ARGS="\
  --cert-dir={{ etc_dir }}/pki/ \
  --node-ip={{ hostvars[inventory_hostname]['ip'] }} \
  --root-dir={{ data_dir }}/kubelet \
  --runtime-cgroups=/systemd/system.slice \
  --alsologtostderr=true \
  --log-dir={{ log_dir }} \
  --log-file={{ log_dir }}/kubelet.log \
  --log-file-max-size=2048 \
  --log-flush-frequency=5s \
  --logtostderr=false \
  --v=0"
