[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation={{ product_docs }}
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory={{ data_dir }}/kubelet
EnvironmentFile=-/etc/default/kubelet
EnvironmentFile=-{{ data_dir }}/kubelet/kubeadm-flags.env
ExecStart={{ install_dir }}/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS $KUBELET_EXTRA_ARGS
Type=simple
RestartSec=10
Restart=always
LimitNOFILE=65536
StartLimitInterval=0

CPUAccounting=yes
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
