KUBELET_KUBEADM_ARGS="--node-ip={{ hostvars[inventory_hostname]['ip'] }} --container-runtime=remote --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock --hostname-override={{ hostvars[inventory_hostname]['ip'] }}"

{% if cloud_provider == "alibaba-cloud" %}
KUBELET_CLOUD_PROVIDER_ARGS="--cloud-provider=external --provider-id={{ lookup('ansible.builtin.url', 'http://100.100.100.200/latest/meta-data/region-id') }}.{{ lookup('ansible.builtin.url', 'http://100.100.100.200/latest/meta-data/instance-id') }}"
{% endif %}
