apiVersion: v1
kind: Config
current-context: kubernetes-admin@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: {{ etc_dir }}/pki/ca.crt
    server: {{ apiserver_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubernetes-admin
  name: kubernetes-admin@{{ cluster_name }}
users:
- name: kubernetes-admin
  user:
    client-certificate: {{ etc_dir }}/pki/cluster-admin.crt
    client-key: {{ etc_dir }}/pki/cluster-admin.key
