apiVersion: v1
kind: Config
current-context: kubernetes-admin@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', '../../pki/files/apiserver/ca.crt') | b64encode }}
    server: {{ apiserver_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubernetes-admin
  name: kubernetes-admin@{{ cluster_name }}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ lookup('file', '../../pki/files/apiserver/cluster-admin.crt') | b64encode }}
    client-key-data: {{ lookup('file', '../../pki/files/apiserver/cluster-admin.key') | b64encode }}
