apiVersion: v1
kind: Config
current-context: system:kube-scheduler@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', '../../pki/files/apiserver/ca.crt') | b64encode }}
    server: {{ apiserver_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-scheduler
  name: system:kube-scheduler@{{ cluster_name }}
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ lookup('file', '../../pki/files/apiserver/scheduler-client.crt') | b64encode }}
    client-key-data: {{ lookup('file', '../../pki/files/apiserver/scheduler-client.key') | b64encode }}
