apiVersion: v1
kind: Config
current-context: system:kube-scheduler@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: {{ etc_dir }}/pki/apiserver.crt
    server: {{ apiserver_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-scheduler
  name: system:kube-scheduler@{{ cluster_name }}
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ etc_dir }}/pki/scheduler-client.crt
    client-key: {{ etc_dir }}/pki/scheduler-client.key
