---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    # baseline restricted privileged
    pod-security.kubernetes.io/enforce: restricted
    pod-security.kubernetes.io/enforce-version: latest
  name: default
