[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation={{ product_docs }}
After=network.target
Requires=network.service

[Service]
EnvironmentFile={{ install_dir }}/kube-proxy/environment
ExecStart={{ install_dir }}/kube-proxy/kube-proxy \
        $KUBE_FLAG_GENERIC \
        $KUBE_FLAG_GLOBAL
Type=simple
RestartSec=10
Restart=always
LimitNOFILE=65536
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
