apiVersion: v1
kind: Config
preferences: {}
current-context: system:kube-proxy@{{ cluster_name }}
clusters:
- cluster:
    certificate-authority: {{ etc_dir }}/pki/apiserver.crt
    server: {{ apiserver_addr }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: system:kube-proxy
  name: system:kube-proxy@{{ cluster_name }}
users:
- name: system:kube-proxy
  user:
    client-certificate: {{ etc_dir }}/pki/kube-proxy-client.crt
    client-key: {{ etc_dir }}/pki/kube-proxy-client.key
